<div class="row">
  <div class="col-lg col-sm p-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="toggleSidebar()">
        <i class="fas fa-bars"></i>
      </button>
      <div class="mr-auto">
        <h1 class="display-1"><strong>Reportes</strong></h1>
      </div>
      <div class="navbar-nav ml-auto navbar-buttons">
        <a class="btn-custom" data-toggle="modal" data-target="#newModal1"
          >Nuevo Reporte</a
        >
      </div>
    </nav>
  </div>
</div>
<!-- Content -->
<div class="row pt-4">
  <div class="col-lg-6 col-sm">
    <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
      [chartType]="'bar'"></canvas>
  </div>
  <div class="col-lg-6 col-sm">
    <canvas baseChart [datasets]="chartDataB" [labels]="chartNameB" [options]="chartOptions"
      [chartType]="'line'"></canvas>
  </div>
</div>


<!--Modal-->
<div
class="modal fade"
id="newModal1"
tabindex="-1"
role="dialog"
aria-labelledby="newModal1"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold">
      Nuevo Reporte 
    </h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--Form nuevo reporte-->
  <form [formGroup]="formInfo" (ngSubmit)="enviar()">
    <div class="modal-body mx-3">
      <div class="text-nowrap m-3">
        <h3 class="text-md-left">
          Nombre :
          <input
            type="text"
            formControlName="nameInven"
            class="form-control m-4"
            placeholder="Añadir Nombre"
            required
          />
        </h3>
        <h3 class="text-md-left">
          Inventario que se desea usar:
          <input
            type="text"
            formControlName="chooseInven"
            class="form-control m-4"
            placeholder="Nombre inventario"
            required
          />
        </h3>
        <h3 class="text-md-left">
          Que top quieres:
          <input
            type="text"
            formControlName="topInven"
            class="form-control m-4"
            placeholder="7 o 5 o 3"
            required
          />
        </h3>
        <h3 class="text-md-left">Tipo:
          <label class="m-4"><input
            type="checkbox"
            formControlName="tipoInven"
            class="form-control"
            value="max"
            required
            />Max
          </label>
  
          <label class="m-4"><input
            type="checkbox"
            formControlName="tipoInven"
            class="form-control"
            value="min"
            required
            />Min
          </label>
        </h3>
        <h3 class="text-md-left">
          Que variable quieres:
          <input
          type="text"
          formControlName="varInven"
          class="form-control m-4"
          placeholder="precio o fecha o cantidad"
          required
        />
        </h3>

      </div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button type="submit" class="btn btn-primary my-1 mr-md-3 btn-custom">
        Crear
      </button>
    </div>
    </form>
</div>
</div>
</div>

